<div id="gallery-loading" style="height:300px;text-align:center;"><h1 style="line-height:300px;">loading...</h1></div>
<div class="grid" id="gallery-content">
    <div class="row">
        <div class="span1" id="prevArrow"><div>prev</div></div>
        <div class="span10">
            <div class="carousel" style="margin-left:auto;margin-right:auto;background-color:#fff">
                {{ it.forEach(function(v,i){ }}
                {{ if(v.type == "text") { }}
                <div class="textslide" style="text-align:center;background-color:#ddd">{{=v.content}}</div>
                {{ } else { }}
                <div >
                    <div style="background-color:#fff">
                        <img class="image" src="{{=v.url}}" style="margin-top:auto;margin-left:auto;margin-right:auto;" />
                    </div>
                    <div style="min-height:40px;text-align:center;background-color:#fff;">{{=v.desc}}</div>
                </div>
                {{ } }}
                {{ }); }}
            </div>
        </div>
        <div class="span1" id="nextArrow">next</div>
    </div>
</div>

<script>
    $("#gallery-content").css({
        "opacity":"0",
    });
    $('.carousel').slick({
        prevArrow:"#prevArrow",
        nextArrow:"#nextArrow"
    });
    var amnt = $(".image").length;
    var ctr = 0;
    var mh=0,sh=10000;
    var mw=0;
    console.log(amnt);
    $(".image").on("load",function(){
        $(this).css("height",this.height);
        $(this).css("width",this.width);
        mh = Math.max(mh, this.height);
        mw = Math.max(mw, this.width);
        ctr++;
        if(ctr == amnt){
            $(".carousel").css("height",mh+50);
            $(".carousel").css("min-width",mw);
            $(".textslide").css("padding-top",mh/2-50+"px");
            spa.animations.unload("gallery-loading",function(){
                $("#gallery-loading").css("display","none");
                spa.animations.load("gallery-content");
            });
        }
    });
</script>