<div class="grid">
    <div class="row">
        <div class="span8 offset2">
            <div class="grid fluid">
                {{var items = it.length;
                var rows = Math.ceil(items/3);
                for(var i=0; i<rows; i++) { }}
                <div class="row">
                    {{ for(var j=i*3; j<Math.min((i*3)+3,items); j++) { }}
                    <a href="{{=it[j].link}}" class="span4">
                        <div class="image-container home-img">
                            <img src="{{=it[j].thumbnail_url}}">
                            <div class="overlay-fluid home-img-overlay">
                                <span class="fg-white">{{=it[j].name}}</span>
                            </div>
                        </div>
                    </a>
                    {{ } }}
                </div>
                {{ } }}
            </div>
        </div>
    </div>
</div>
