.header {
    height: 100px;
    line-height: 100px;
    padding-top:1px;
}

.header-button{
    margin-top:13px;
    text-align:right;
}

.header-button:hover{
    font-weight:bold;
}

.footer{
    text-align:center;
}

.fg-grey{
    color:#aaa;
}
