.header {
    height: 100px;
    line-height: 100px;
    padding-top:1px;
}

.header-button{
    margin-top:13px;
    text-align:center;
    cursor:pointer;
}

.header-button:hover{
    font-weight:bold;
}

.footer{
    text-align:center;
}

.home-img{
    width:initial !important;
}

.home-img-overlay{
    height:30px !important;
    font-family:'Segoe UI Light_','Open Sans Light',Verdana,Arial,Helvetica,sans-serif !important;
    font-size:14px !important;
}

