<div class="metro header">
    <div class="grid fluid">
        <div class="row">
            <div class="span3 offset2" style="text-align:center;">
                <h2>MARION HAMMER</h2>
                <h5>FOTOGRAFIE</h5>
            </div>
            <div class="span1 offset2 header-button subheader-secondary">Portfolio</div>
            <div class="span1 header-button subheader-secondary">Info</div>
            <div class="span1 header-button subheader-secondary">Kontakt</div>
        </div>
    </div>

</div>