<div class="metro header">
    <div class="grid fluid">
        <div class="row">
            <div class="span3 offset2" style="text-align:center;">
                <h2>MARION HAMMER</h2>
                <h5>FOTOGRAFIE</h5>
            </div>
            <div class="span1 offset2 header-button subheader-secondary"><a class="fg-black" href="#portfolio">Portfolio</a></div>
            <div class="span1 header-button subheader-secondary"><a class="fg-black" href="#info">Info</a></div>
            <div class="span1 header-button subheader-secondary"><a class="fg-black" href="#contact">Kontakt</a></div>
        </div>
    </div>

</div>