<h3>Vita</h3>
<p>
    <table class="table">
        <thead>
        <tr><td style="min-width:100px;"></td><td></td></tr>
        </thead>
        <tbody>
            <tr><td>1983</td>       <td>geboren in Burglengenfeld, Bayern</td></tr>
            <tr><td>2004 – 2007</td><td>Fotografenlehre in Regensburg</td></tr>
            <tr><td>2008 - 2009</td>  <td>freie Fotografin in Berlin</td></tr>
            <tr><td>2009 - 2011</td>  <td>Studium der Fotografie an der Hochschule für Grafik und Buchkunst, Leipzig</td></tr>
            <tr><td>2012 - 2013</td>  <td>Seminar bei Jonas Maron / Ostkreuzschule für Fotografie, Berlin</td></tr>
            <tr><td></td>  <td></td></tr>
            <tr><td></td>  <td>lebt und arbeitet seit 2013 in Nürnberg.</td></tr>
        </tbody>
    </table>
</p>
<br/>
<h3>Publikationen</h3>
<table class="table"><thead><tr><td></td></tr></thead></table>
<ul>
    <li>Opus Kulturmagazin</li>
    <li>Outside the Box – Magazin für feministische Gesellschaftskritik</li>
    <li>Der Greif Fotomagazin</li>
    <li>Leipziger Volkszeitung</li>
    <li>Kreuzer – Leipziger Stadtmagazin</li>
</ul>
<br/>
<h3>Blog-Features</h3>
<table class="table"><thead><tr><td></td></tr></thead></table>
<ul>
    <li><a href="https://goldstuecke.wordpress.com/tag/marion-hammer/">Goldstücke</a></li>
    <li><a href="http://www.stefanieseidl.com/berlinweeklycom/?page_id=49">Berlin-Weekly</a></li>
    <li><a href="http://mpdrolet.tumblr.com/search/marion+hammer">Mark Peter Drolet</a></li>

</ul>
<br/>
<h3>Aufträge</h3>
<table class="table"><thead><tr><td></td></tr></thead></table>

<p><b>Ich biete Shootings im Bereich Porträt und Mode.</b></p>
<p>Sind Sie Schauspieler, Musiker oder möchten einfach ein besonderes Porträt von sich? Auch Ihre Mode setze ich gern in Szene. Die Bilder entstehen nicht im Studio, d. h. wir finden eine passende Location oder ich mache einen “Hausbesuch”.</p>
<p>Die meisten meiner Bilder, die auf meiner Website zu sehen sind, wurden auf Film fotografiert. Dadurch entsteht die besondere Atmosphäre und Farbgebung. Der Preis eines Shootings richtet sich nach Zeitaufwand und nach der Anzahl der gewünschten Bilder.</p>
<div class="panel">
    <div class="panel-header">
        Anfragen gerne an:
    </div>
    <div class="panel-content">
        <p>marionhammer@web.de</p>
        <p>Tel.: 0176/62097204</p>
    </div>
</div>